extends layout

block content
  .w3-container
    h1 Menu do Arquivo Musical
  .w3-container
    table.w3-table
      tr.w3-blue-grey
        th Identificador
        th Título
        th Número de Partituras
      each elem in obras
        tr
          td= elem.id
          td= elem.titulo
          td= elem.count
          td 
            a(href="http://localhost:3005/" + elem.id)
              button.w3-button.w3-blue-grey Ver Detalhes